div.login-container {
  min-height: 730px;

  main {
    height: 100vh;

    section {
      width: 300px;
      height: 345px;
    }

    img {
      margin-bottom: 40px;
    }

    h1 {
      width: 260px;
      line-height: 23.4px;
      font-size: 20px;
      font-weight: 700;
      margin-bottom: 24px;
      color: #04183E;
    }

    form {
      font-size: 14px;
      line-height: 16.4px;
      
      div:focus-within label {
        color: #0095FF;
      }

      label {
        display: block;
        font-size: 12px;
        margin-bottom: 4px;
      }

      input {
        width: 300px;
        height: 48px;
        padding: 16px;
        border-radius: 4px;
        margin-bottom: 24px;
        border: none;
        caret-color: #66AFFF;

        &:focus {
          outline: 2px solid #66BFFF;
        }

        &[type='password'], &::placeholder {
          color: #D0DAEF;
        }
      }

      button {
        color: #FFF;
        width: 300px;
        height: 48px;
        border-radius: 4px;
        background-color: #1DC763;
        outline: none;
        border: none;
        cursor: pointer;

        &.disabled {
          opacity: 0.3;
          cursor: not-allowed;
        }

        div {
          width: 95px;
          height: 21px;
          margin: 0 auto;
          display: flex;
          align-items: center;
          justify-content: center;
        }

        span:last-child {
          font-weight: 500;
          padding-left: 6px;
        }
      }
    }
  }
}