<div class="login-container">
  <main class="d-flex flex-column justify-content-center align-items-center">
    <section>
      <img class="logo" src="../../../assets/logo.png" alt="logo da trakto">
      <img class="orange-circle" src="../../../assets/orange-circle.png" alt="sinal grático de ponto final">
      <h1>Olá, faça login em sua conta.</h1>
      <form autocomplete="off">
        <div>
          <label class="d-block" for="email">E-mail</label>
          <input type="email" name="email" id="email">
        </div>
        <div>
          <label class="d-block" for="senha">Senha</label>
          <input type="password" name="senha" id="senha">
        </div>
        <button type="submit">
          <div>
            <span class="spinner-border text-light" role="status">
              <!-- accessibility purpose -->
              <span class="sr-only">Loading...</span> accesibility
            </span>
            <span>Entrando...</span>
          </div>
        </button>
      </form>
    </section>
  </main>
</div>