/* You can add global styles to this file, and also import other style files */
@import 'ngx-toastr/toastr';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: #EFF2F9;
}

// overwriting boostrap's class
.spinner-border {
  width: 1.3rem;
  height: 1.3rem;
  border-width: 0.13rem;
}